@font-face {
  font-family: 'Pretendard-Medium';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

html {
  flex-grow: 0;
  background-color: #fff;
}

::placeholder {
  flex-grow: 0;
  font-size: 14px;
  letter-spacing: -0.35px;
  text-align: left;
  color: #bdbdbd;
  font-family: 'Pretendard-Medium';
}

.header {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
  background-color: #fff;
  align-items: center;
  margin-top: 11px;
  margin-bottom: 10px;
}

.header_project {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.4px;
  margin-left:72px;
  color: #231f20;
}

.header_pro {
  font-size: 16px;
  font-weight: 500;
  margin-left:52px;
  letter-spacing: -0.4px;
  color: #231f20;
}

.header_community {
  margin-left:52px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.4px;
  text-align: left;
  color: #231f20;
}

.header_login { 
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.4px;
  margin-left: 65px;
  color: #231f20;
}

.search_container {
  display: flex;
  align-items: center;
  margin-left:70px;
}

.search_bar {
  width: 480px;
  height: 40px;
  flex-grow: 0;
  padding: 8px 16px 8px 20px;
  border-radius: 8px;
  border: solid 1px #231f20;
  background-color: #fff;
  outline: none;
}

.search_icon {
  position: absolute;
  width: 24px;
  height: 24px;
  flex-grow: 0;
  margin: 0 0 0 440px;
  object-fit: contain;
}

.logo {
  width: 156px;
  height: 28px;
  object-fit: contain;
}

a {
  color: #231f20;
  text-decoration: none;
  font-family: 'Pretendard-Medium';
}

a:hover {
  opacity: 75%;
  transition: all 0.5s;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
}