@font-face {
    font-family: 'Pretendard-Medium';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7.5px;
    font-size: 14px;
    padding-right: 0.6em;
    padding-top: 1.9px;
    padding-bottom: 1.9px;
    padding-left: 0.85em;
    border: solid 1px #a293ff;
    border-radius: 8px;
    font-family: 'Pretendard-Medium';
    margin-bottom: 12px;
}

.removeTag {
    width: 19.5px;
    height: 19.5px;
    flex-grow: 0;
    cursor: pointer;
}