@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Medium';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

section {
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentOfContainer {
    width: 990px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-family: 'Pretendard-Bold';
    font-size: 32px;
}


.boxOfNameForm, .boxOfNumForm, .boxOfPositionForm, .keywordOfForm, .keywordOfForm_tool, .boxOfPortfolioForm {
    display: flex;
    align-items: center;

    .boxOfInput { 
        font-size: 14px;
        width: 63em;
        border-radius: 12px;
        padding-top: 1em;
        padding-bottom: 0.92em;
        padding-left: 1.14em;
        border: solid 1px #bdbdbd;
        font-family: 'Pretendard-Medium';
    }

    .boxOfTitle {
        font-size: 18px;
        white-space: nowrap;
        font-family: 'Pretendard-Bold';
    }
}

.boxOfPortfolioForm {
    font-size: 14px;
    column-gap: 1.7em;

    .textofLink {
        font-size: 18px;
        font-family: 'Pretendard-Bold';
    }
}

.boxOfNameForm {
    font-size: 14px;
    column-gap: 5em;
}

.boxOfNumForm {
    column-gap: 2.78em;
}

.boxOfNumForm, .boxOfPortfolioForm {
    font-size: 14px;
    margin-top: 24px;
    width: 70.71em;

    .boxOfTitle {
        margin-bottom: auto;
    }

    .contentOfBox {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        row-gap: 8px;
        width: 63.45em;
        font-family: 'Pretendard-Medium';

        .descriptionOfNum {
            width: 100%;
            letter-spacing: -0.35px;
            color: #bdbdbd;
        }

        .numOfInput {
            font-size: 14px;
            border-radius: 12px;
            padding-top: 1em;
            padding-bottom: 0.92em;
            padding-left: 1.14em;
            border: solid 1px #bdbdbd;
            font-family: 'Pretendard-Medium';
        }
    }
}

.keywordOfForm_tool {
    column-gap: 51px;
    display: flex;
    align-items: center;
    margin-top: 24px;

    .contentOfBox_tool {
        width: 100%;
    }

    .searchBar_tool {
        display: flex;
        align-items: center;

        .symbolOfSearch {
            position: absolute;
            width: 20.4px;
            height: 20.4px;
            margin-left: 1.27em;
        }

        .keywordOfInput { 
            width: 100%;
            font-size: 14px;
            border-radius: 12px;
            padding-top: 1em;
            padding-bottom: 0.92em;
            padding-left: 4em;
            border: solid 1px #bdbdbd;
            font-family: 'Pretendard-Medium';
        }
    }

    .test {
        display: flex;
    }

    .searchBar {
        margin-top: 30px;
    }
}

.keywordOfForm {
    column-gap: 20px;
    margin-top: 24px;
}

.keywordOfForm {
    display: flex;
    align-items: center;

    .boxOfTitle {
        margin-bottom: auto;
        margin-top: 5.5px;
    }

    .sectionOfTag {
        display: flex;
        column-gap: 12px;
    }

    .contentOfBox {
        display: flex;
        flex-direction: column;
        width: 63em;

        .searchBar {
            margin-top: 12px;
            display: flex;
            align-items: center;

            .symbolOfSearch {
                position: absolute;
                width: 20.4px;
                height: 20.4px;
                margin-left: 1.27em;
            }

            .keywordOfInput { 
                width: 100%;
                font-size: 14px;
                border-radius: 12px;
                padding-top: 1em;
                padding-bottom: 0.92em;
                padding-left: 4em;
                border: solid 1px #bdbdbd;
                font-family: 'Pretendard-Medium';
            }
        }
    
        .boxOfInput::placeholder {
            font-size: 14px;
        }
    }
}


.selectBox {
    padding-top: 1.25em;
    padding-left: 2.28em;

    .selectBoxOfContent {
        display: flex;
        flex-direction: column;
        font-size: 14px;

        .contentSelect {
            display: grid;
            font-size: 14px;
            width: 21.6em;
            grid-template-columns: 1fr 1fr;
            row-gap: 16px;
        }

        .contentSelect2 {
            display: grid;
            font-size: 14px;
            width: 32.57em;
            grid-template-columns: 1fr 1fr 1fr;
            row-gap: 16px;
        }

        .contentSelect3 {
            display: grid;
            font-size: 14px;
            width: 43.5em;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            row-gap: 16px;
        }

        .contentSelect4 {
            display: grid;
            font-size: 14px;
            width: 21.8em;
            grid-template-columns: 1fr 1fr;
            row-gap: 16px;
        }

        .lineOfSplit {
            font-size: 14px;
            width: 615px;
            margin-top: 1.598em;
        }

    }
}


.boxOfPositionForm {
    font-size: 14px;
    margin-top: 27px;
    column-gap: 3.92em;
    font-family: 'Pretendard-Medium';
    

    .boxOfTitle {
        margin-bottom: auto;
    }

    .descriptionOfPostion {
        font-size: 16px;
        color: #333;
    }

    .sectionOfTag {
        display: flex;
        column-gap: 12px;
        margin-top: 12px;
    }

    .position1 {
        display: flex;
        letter-spacing: -0.4px;
        color: #333;
        border-radius: 12px;

        // 블록 블록으로 해야할듯;
        .boxOfPostion1 {
            height: 70%;
            font-size: 16px;
            background-color: black;
            padding-right: 1em;
            padding-left: 1em;
            padding-top: 1.25em;
            border-radius: 12px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: auto;
        }
    }
}

.selectOfPosition {
    display: flex;
    font-size: 14px;
    width: 63.43em;
    margin-top: 12px;
    height: 384px;

    .positionBox {
        text-align: center;
        font-size: 16px;
        padding-top: 1.25em;
        padding-right: 1em;
        padding-left: 1em;
        background-color: #fafafd;
        border-radius: 12px;
    }

    .lineOfSplit {
        font-size: 16px;
        margin-top: 3.53em;
        margin-bottom: 1.218em;
        width: 116px;
        height: 1px;
        border: none;
        flex-grow: 0;
        
        background-color: #efefef;
    }
}

.toggleSwitch {
    width: 118px;
    height: 29px;
    display: block;
    position: relative;
    border-radius: 30px;
    background-color: #efefef;
    cursor: pointer;
    transition: all 0.2s ease-in;

    z-index: 10;
    .text {
        position: absolute;
        display: flex;
        text-align: center;
        gap: 27px;
        color: white;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px;
    font-size: 14px;
    font-family: 'Pretendard-Medium';
}

.toggleSwitch_checked {
    background-color: #efefef;
}

/* 토글 버튼 */
.toggleButton {
    /* 버튼은 토글보다 작아야함  */
    width: 62px;
    height: 29px;
    position: absolute;
    top: 50%;
    left: -2px;
    transform: translateY(-50%);
    border-radius: 30px;
    background-color: #ff7827;
    transition: all 0.2s ease-in;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: 'Pretendard-Medium';
}

.toggleButton_checked {
    /* 100% -> 끝위치, 2.8rem -> 버튼 크기 */
    left: calc(45%);
    background-color: #666;
}
